.form-wrapper {
    width: 95%;
    max-width: 550px;
    position: relative;
    box-shadow: 0 0 3.1px rgba(0, 0, 0, .089), 0 0 10.5px rgba(0, 0, 0, .131), 0 0 47px rgba(0, 0, 0, .22);
    color: #000;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.form-wrapper input {
    width: 100%;
    padding: .5rem .7rem;
    border-radius: 6px;
    border: none;
    background: #fff;
    color: var(--seconday-color);
    transition: all 0.5 ease-in-out;
}

.form-wrapper input.focused {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-wrapper p {
    font-size: 12px;
    text-align: left;
    color: #fff;
}

.form-wrapper p span {
    font-weight: bold;
}

.form-wrapper .search-suggestions {
    width: 100%;
    background-color: #fff;
    height: 0;
    transition: height 0.2s ease-in-out, opacity 0.1s ease-in-out;
    opacity: 0;
    overflow: hidden;
    box-shadow: 0 16px 22px -10px rgba(0, 0, 0, .15), 0 34px 55px 4px rgba(0, 0, 0, .08), 0 13px 66px 12px rgba(0, 0, 0, .07);
}

.form-wrapper .search-suggestions.show {
    height: 250px;
    opacity: 1;
}

.buttons-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: .3rem;
}

.buttons-wrapper button {
    /* flex: 1; */
    cursor: pointer;
    background: transparent;
    border: none;
    padding-bottom: .5rem;
    display: flex;
    align-items: center;
}

.buttons-wrapper button svg {
    margin-right: .4rem;
}

.buttons-wrapper button.active {
    border-bottom: 2px solid var(--accent-color);
}

.player-names {
    padding: .6rem .7rem;
    max-height: 220px;
    overflow-y: auto;
}

.player-names h5 {
    margin-bottom: .5rem;
}

.player-names li {
    list-style: none;
    width: max-content;
    margin: .4rem 0;
}

.player-names li span {
    cursor: pointer;
    margin-right: 1rem;
}

.player-names li span:hover {
    text-decoration: underline;
}

.player-names li svg {
    cursor: pointer;
    font-size: .7rem;
    color: var(--secondary-color);
}

.player-names li svg:hover {
    transform: scale(1.1);
}

.player-names li.isFav svg {
    color: #c8a905;
}